@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline;
}

.imagenes {
  width: 140px;
  height: 140px;
}

.header {
  background-color: pink;
  border-bottom: 2px palevioletred ridge;
  height: 120px;
}

.pestañadesp {
  background-color: pink;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  grid-area: logo;
  margin-left: 10px;
}

.botonbuscar {
  border: 1px #4FA8C2 solid;
  background-color: #4FA8C2;
  color: #fafafa;
}

.Comocomprar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.cajacomocomprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
}

.cajacomocomprar1, .cajacomocomprar2 {
  border-right: 1px black solid;
}

.imgcomocomprar {
  width: 80px;
  height: 80px;
  justify-content: center;
  object-fit: contain;
}

.textocomocomprar {
  padding-top: 6px;
  font-size: 15px;
}

.subhome {
  text-align: center;
  border-top: 15px pink solid;
  padding-top: 5px;
  border-bottom: 15px pink solid;
}

.botonmodal {
  background-color: #4FA8C2;
}
.botonmodal:hover {
  background-color: #65c5e1;
}

.estilocard {
  border: 1px outset #65c5e1;
  box-shadow: 1px 1px 9px;
  margin: 10px 2px;
}

.imgcard {
  object-fit: contain;
  height: 100%;
}

.footer {
  border-top: 3px palevioletred dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
}

.divfooter {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 10px auto;
  padding: 10px;
}

.foottext {
  font-size: 20px;
  font-weight: lighter;
  text-decoration: underline;
  font-family: "Roboto Slab", serif;
  padding-top: 2px;
  padding-left: 10px;
}

.imgfooter {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  object-fit: fill;
}

.form1 {
  grid-area: form1;
}

.form2 {
  grid-area: form2;
}

.form3 {
  grid-area: form3;
}

.form5 {
  grid-area: form5;
}

.form {
  display: grid;
  grid-template-areas: ".... .... form1 .... ...." ". . form2 . ." ". . form3 . ." ". . form4 . ." ". . form5 . ." ". . form6 . .";
  width: 100%;
}

.itemform {
  margin: 1vh 0;
  font-size: 18px;
  border: 1px solid #4FA8C2;
}

.form4 {
  grid-area: form4;
  text-align: center;
  border: none;
}

.form6 {
  grid-area: form6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}

.motivo, option {
  font-size: 16px;
}

.formbotones {
  background-color: #4FA8C2;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
.formbotones:hover {
  background-color: #65c5e1;
}

.whatsapp {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border: #4FA8C2 1px outset;
  border-radius: 10px;
  box-shadow: 5px 1px 10px;
}

.tarjetadescripcion {
  font-weight: 500;
  font-size: 18px;
}

.tarjetaprecio {
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color: #4FA8C2;
}

.tarjetaboton {
  font-weight: 700;
  font-size: 18px;
  background-color: #4FA8C2;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  border: 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  top: 25px;
}
.tarjetaboton:hover {
  background-color: cyan;
}

.tarjetamarca {
  text-transform: uppercase;
  font-size: 20px;
}

.tarjetaimagen {
  margin: 70px 20px 10px 20px;
  border-bottom: 2px #4FA8C2 solid;
  padding: 5px 10% 15px 10%;
}

.tarjetaprecioant {
  text-decoration-line: line-through;
  padding-right: 20px;
  font-size: 20px;
  color: #4FA8C2;
  text-transform: uppercase;
}

.tarjetaoferta {
  display: flex;
  flex-direction: row;
}

.tarjetapromo {
  display: grid;
  grid-template-areas: ".... .... imgpromo descpromo .... ...." ".... .... imgpromo preciopromo .... ...." ".... .... imgpromo botonpromo .... ....";
  justify-content: center;
  padding: 10px 0;
  margin: 20px 0;
}

.imgpromo {
  width: 150px;
  height: 150px;
  grid-area: imgpromo;
  margin-right: 30px;
  border-right: #4FA8C2 1px solid;
}

.descpromo {
  font-size: 18px;
  font-weight: 500;
  grid-area: descpromo;
}

.preciopromo {
  color: #4FA8C2;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  grid-area: preciopromo;
  text-align: center;
}

.botonpromo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: #4FA8C2;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  grid-area: botonpromo;
}

@media (min-width: 991px) and (max-width: 1150px) {
  .catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tarjetaimagen {
    padding: 0;
  }
  .header {
    height: 130px;
  }
  .pestañadesp {
    z-index: 1100;
    background-color: pink;
  }
  .logo {
    width: 10vh;
    height: 10vh;
    grid-column: 2;
    padding: 0;
    margin: 20px 0 5px 0;
  }
  .menu {
    margin: 2vh 1vh;
  }
  .whatsapp {
    width: 10vh;
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
  .quienessomos {
    margin: 0 2vh;
  }
  .eslogan {
    margin: 1vh;
  }
  .descpromo {
    font-size: 16px;
  }
  .itemform {
    width: 90vw;
  }
  .tituloingresos {
    font-size: 45px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .pestañadesp {
    z-index: 1100;
    background-color: white;
    position: relative;
    top: 2px;
  }
  .catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tarjetaimagen {
    padding: 0;
  }
}
@media (min-width: 390px) and (max-width: 767px) {
  .header {
    height: 160px;
  }
  .pestañadesp {
    z-index: 1100;
    background-color: white;
    position: relative;
    top: 5px;
  }
  .caja {
    display: grid;
  }
  .item4 {
    text-wrap: nowrap;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
  }
  .logo {
    width: 15vh;
    height: 15vh;
    justify-content: center;
    object-fit: contain;
    grid-row: 2;
  }
  .catalogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tarjetaimagen {
    padding: 0;
  }
  .whatsapp {
    width: 10vh;
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
  .itemform {
    width: 90vw;
  }
  .foottext {
    font-size: 15px;
  }
  .tituloingresos {
    font-size: 25px;
  }
  .subhome {
    font-size: 20px;
  }
  .cajacomocomprar {
    width: 90vh;
    height: 150px;
  }
  .textocomocomprar {
    text-align: center;
  }
}
@media (max-width: 390px) {
  .pestañadesp {
    z-index: 1100;
    background-color: white;
    position: relative;
    top: 10px;
  }
  .caja {
    display: grid;
  }
  .item4 {
    text-wrap: nowrap;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 15px;
  }
  .logo {
    width: 10vh;
    height: 10vh;
    margin-left: 5px;
    padding: 0;
  }
  .catalogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tarjetaimagen {
    padding: 0;
  }
  .whatsapp {
    width: 5vh;
    position: fixed;
    bottom: 60px;
    right: 20px;
  }
  .itemform {
    width: 90vw;
  }
  .tarjetapromo {
    margin: 20px;
    padding: 0;
    object-fit: contain;
    max-width: 70vw;
  }
  .descpromo {
    font-size: 15px;
  }
  .botonpromo {
    font-size: 15px;
    padding: 3px;
  }
  .imgpromo {
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    border-right: none;
    object-fit: contain;
  }
  h1 {
    font-size: 20px;
  }
  .foottext {
    font-size: 15px;
  }
  .cajacomocomprar {
    width: 90vh;
    height: 90px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .imgcomocomprar {
    height: 50px;
    width: 50px;
  }
  .textocomocomprar {
    font-size: 11px;
    text-align: center;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
