body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
}

.imagenes {
    width: 140px;
    height: 140px;
}