body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
}

h1 {
    @include estilofuente (bold, 45px);
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.imagenes {@include tamaño (140px, 140px)}