.Comocomprar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
  }
  
  .cajacomocomprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
  }
  
  .cajacomocomprar1, .cajacomocomprar2 {
    border-right: 1px black solid;
  }
  
  .imgcomocomprar {
    width: 80px;
    height: 80px;
    justify-content: center;
    object-fit: contain;
  }
  
  .textocomocomprar {
    padding-top: 6px;
    font-size: 15px;
  }
  
  .subhome {
    text-align: center;
    border-top: 15px pink solid;
    padding-top: 5px;
    border-bottom: 15px pink solid;
  }
  
  .botonmodal {
    background-color: #4FA8C2;
  
    &:hover {
      background-color: #65c5e1;
    }
  }
  
  .estilocard {
    border: 1px outset #65c5e1;
    box-shadow: 1px 1px 9px;
    margin: 10px 2px;
  }
  
  .imgcard {
    object-fit: contain;
    height: 100%;
  }
