.tarjetapromo {
    display: grid;
    grid-template-areas: ".... .... imgpromo descpromo .... ...." ".... .... imgpromo preciopromo .... ...." ".... .... imgpromo botonpromo .... ....";
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0;
}

.imgpromo {
    @include tamaño (150px, 150px);
    grid-area: imgpromo;
    margin-right: 30px;
    border-right: $celeste 1px solid;
}

.descpromo {
    @include estilofuente (500, 18px);
    grid-area: descpromo;
}

.preciopromo {
    color: $celeste;
    @include estilofuente (900, 22px);
    text-transform: uppercase;
    text-decoration: underline;
    grid-area: preciopromo;
    text-align: center;
}

.botonpromo {
    text-transform: uppercase;
    @include estilofuente (700, 18px);
    background-color: $celeste;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    grid-area: botonpromo;
}