  
  .quienessomos {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
  }
  
  .mainquienes, .maincatalogo, .mainpromo {
    margin-bottom: 30px;
  }
  
  .eslogan {
    text-transform: uppercase;
    @include estilofuente (600, 23px);
    text-decoration: underline;

  }
  