  
  .quienessomos {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
  }
  
  .mainquienes, .maincatalogo, .mainpromo {
    margin-bottom: 30px;
  }
  
  .eslogan {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    font-size: 23px;
  }
  